
	<h3>Welcome to the landing page!</h3>
</div>
</section>

<div class="album py-5">
 <div class="container">

  <div class="row">
    <div class="col-md-4">
	<p>
      <a href="/dashboard/index" class="btn btn-primary my-2">Dashboard</a>
    </p>	
    </div>
  </div>
 
 </div>
</div>